.inline-block
	display: inline-block

#footer
	background-color: #f5f5f5
	padding-top: 20px
	padding-bottom: 10px

@media (min-width: 768px)
.navbar > .container .navbar-brand, 
.navbar > .container-fluid .navbar-brand
	margin-left: 0

.list-group-item:first-child
	border-top-right-radius: 0
	border-top-left-radius: 0

.single-comment .panel>.panel-heading
	position: relative
	
.single-comment .panel>.panel-heading:after, 
.single-comment .panel>.panel-heading:before
	position: absolute
	top: 11px
	left: -16px
	right: 100%
	width: 0
	height: 0
	display: block
	content: " "
	border-color: transparent
	border-style: solid solid outset
	pointer-events: none

.single-comment .panel>.panel-heading:before
	border-right-color: #ddd
	border-width: 8px

.user-thumb
	margin-bottom: 20px